@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  background-color: rgb(43, 42, 42);
  text-align: center;
}
/* 
header {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
} */

#header{
  background-image: url("./images/tiny-forests-header.png");
  filter: grayscale(100);
  width: 100%;
  height: auto;
  background-size: cover;
}

h1 {
  color: white;
  font-family: teko;
  font-weight: 600;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: white;
  font-family: montserrat;
  font-size: 36px;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 30px;
}

h3 {
  color: white;
  font-family: montserrat;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h4 {
  color: white;
  font-family: montserrat;
  font-size: 18px;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  align-items: center;
  font-family: montserrat;
}

nav {
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-family: montserrat;
}

nav ul li a {
  padding: 10px 15px;
  font-family: montserrat;
  align-items: center;
  font-weight: lighter;
  font-size: 2vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background: rgba(255,255,255,0.5);
  color:black;
  border-radius: 15px;
  text-shadow: none;
  text-decoration: none;
}

p {
  font-family: montserrat;
  color: white;
  padding: 30px;
}

img {
  max-width: 50vw;
  max-height: 50vh;
}

.icon {
  padding: 30px;
}