@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

header {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
  font-family: teko;
  font-weight: 600;
  font-size: 100px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: white;
  font-family: montserrat;
  font-size: 36px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h3 {
  color: white;
  font-family: montserrat;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h4 {
  color: white;
  font-family: montserrat;
  font-size: 18px;
  font-weight: lighter;
  margin: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  align-items: center;
  font-family: montserrat;
}

nav {
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-family: montserrat;
}

nav ul li a {
  padding: 10px 15px;
  font-family: montserrat;
  align-items: center;
  font-weight: lighter;
  font-size: 2vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background: rgba(255,255,255,0.5);
  color:black;
  border-radius: 15px;
  text-shadow: none;
  text-decoration: none;
}

p {
  font-family: montserrat;
  color: white;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  max-height: 50vh;
}

.icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

